.container{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    padding-top: 10%;
}
.containertext{
    

     h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(1, 1, 61);
    }
     h2{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 10px;
     }
     h3{
        
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: #575757;
        font-family: Poppins;




     }
    h4{
        border: 8px solid blue;
        border-radius: 20px;
        background-color: blue;
        color: white;
        width: 180px;
        text-align: center;
        margin-top: 50px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 15px;

    }

}
